@media(max-width:1200px) {
    .working-heading h2{
        text-align: start !important;
    }
    .green-icon-card{
        height: 100% !important;
    }
    .how-its-work .work-btn{
        display: block;
    }
    .green-card-heading h3 {
        height: 42px;
    }

}

@media(max-width:992px) {
    .navbar-nav li {
        width: 49%;
        text-align: center;
        display: inline-block;
        margin-bottom: 20px;
    }

    .navbar-nav {
        margin: 0px !important;
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 20px !important;
    }


    .nav-btn {
        background-color: green;
        width: 100%;
        text-align: center;
        color: white;
        margin-top: 10px;
    }
    .nav-btn:hover{
        background-color: white;
        color:green;
    }

    .main-nav .nav-link {
        margin-top: 10px;
        padding: 12px 15px !important;

    }
    .navbar-toggler{
        border: 1px solid none;
        border: 1px dashed  rgb(255, 129, 57) !important;
    }
    .nav-btn-wrapper{
        width: 100% !important;
    }
    .mian-nav{
        border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 0px 1px 10px #dfdfdf;
        }
        /* .meal-card .content-box .title{ */
            /* line-height: 25px; */
        }
        /* .not-sure */
     .not-sure-img img{
        height: 350px;
     }
     /* .how-its-work */
     .work-btn{
        display: none;
     }
     
    
    
        


@media(max-width:768px) {
.main-nav{
    padding-top: 10px 3px;
}
/* meal-card */
.meal-plan .heading-section h2{
    font-size: 24px;
    
}
.meal-plan{
    display: block;
    padding: 10px;
    text-align: center;
}
.meal-card{
    flex-direction: column;
    padding: 10px;
    display: block;

}
.meal-card .img-box {
    width: 100%;
    min-width:unset ;
    border-radius:10px ;
}
.meal-card .img-box img{
    border-radius: 10px;
}

.meal-card .content-box{
    width: 100%;
    padding: 10px 0 0 0;


}
.meal-card .content-box .heading-box h3{
    height: auto;
    font-size: 18px;
    margin-bottom: 3px;
}
.meal-card .content-box .price-box{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;    
}
.meal-card .content-box .price-box .price{
    font-size: 16px;
    margin-right: 3px;
    margin-bottom: 0;
}
.meal-card .content-box .price-box .price-day{
    font-size: 13px;
    margin-bottom: 0;
    margin-left: 3px;
}

.card-btn{
    display: block;
}
/* meal-slider */
#meal-of-the-day-slider{
    padding-bottom: 0;
}
.meal-of-the-day{
    padding: 50px 0;
    margin-top: 40px;
}
.card-meal{
    position: absolute;
    top:-160px;
    left:2px;
}
.meal-of-the-day .heading-section h2{
    font-size: 24px;
    padding: 10px 0;
    text-align: center;
}
.heading-section h2 p{
    font-size: 16px;
}
.meal-pic img{
    width: 140px !important;
}
.owl-nav{
    display: none;
}
/* not-sure- section */
.main-div{
    height:auto;
}
.not-sure-img img{
    
    right: 35px;
}
.not-sure{
    height: auto;
    margin: 0px;
    margin-top: 100px;
    padding-bottom: 10px;
}
.not-sure .main-box{
    padding: 200px 60px 20px 32px;
    border-radius: 10px 150px 10px 10px;
}

.not-sure-content
.not-sure-content{
    padding: 150px 40px 10px 0;
    /* padding-left: 20px; */
}
.not-sure h2{
    font-size: 28px !important;
    margin-bottom: 20px;
}
.not-sure p{
    font-size: 16px;
}
.not-sure-btn{
    margin-right: 10px;
    font-size: 14px;
    width: 100%;
    text-align: center;
}
/* how-its-work design */

.working-heading h2 {
    text-align: start;
    font-size: 30px;
    margin-bottom: 10px;
}
.working-heading p{
    text-align: center;
}
.work-btn{
    display: none;
}


/* ---footer--- */
.footer-top .title{
    font-size: 26px;
}

.slide-one{
    background-image: linear-gradient( rgb(49 49 49 / 60%), rgb(59 59 59 / 60%) ), url(../images/banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    border-radius: 20px;
    margin: 15px;
    height: 600px;
}


.slide-two{
    background-image: linear-gradient( rgb(49 49 49 / 60%), rgb(59 59 59 / 60%) ), url(../images/banner-0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    border-radius: 20px;
    margin: 15px;
    height: 600px;
}
.slide-three{
    background-image: linear-gradient( rgb(49 49 49 / 60%), rgb(59 59 59 / 60%) ), url(../images/banner-3-original.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    border-radius: 20px;
    margin: 15px;
    height: 600px;
}


.banner{
    padding: 0;

}
.main-heading{
    text-align: center;
    padding: 20px 15px;
    position: relative;
    top:50px;
}

.heading-banner{
    color: var(--white);
    font-size: 30px;
    min-height: 108px;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    display: -webkit-box;
    /* -webkit-line-clamp: ; */
    -webkit-box-orient: vertical;

}
.para-banner{
    color:var(--white) ;
    text-align: center !important;
    font-size: 15px;
    font-weight: 500;
    min-height: 113px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

}
.slide-one .primary-btn{
    text-align: center;
}

#banner-slider .owl-dots{
    position: absolute;
    bottom: -5px;
    right:243px;

}
#banner-slider{
    padding-bottom: 39px;
}
/* how-its-work */
.how-its-work{
    display: flex;
    flex-direction: row;
}



}
@media(max-width:576px) {
    .navbar-toggler{
        border: 2px dashed  rgb(255, 129, 57) !important;
        box-shadow: none !important;
    }



    .banner{
        padding: 0;
    }
    .main-heading{
        text-align: center;
        padding: 20px 15px;
        position: relative;
        top:50px;
    }
    
    .heading-banner{
        color: var(--white);
        font-size: 30px;
        min-height: 108px;
        overflow: hidden;
        /* text-overflow: ellipsis; */
        display: -webkit-box;
        /* -webkit-line-clamp: 3; */
        -webkit-box-orient: vertical;
    
    }
    .para-banner{
        color:var(--white) ;
        text-align: center !important;
        font-size: 15px;
        font-weight: 500;
        min-height: 113px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    
    }
    .slide-one .primary-btn{
        text-align: center;
    }
    
    
    #banner-slider{
        padding-bottom: 39px;

    }
    #banner-slider .owl-dots{
        position: absolute;
        bottom: 22px;
        right: 85px;
        margin-bottom: 0;
    
    }
    #meal-of-the-day-slider{
        margin-bottom: 0px;
    }
    /* not-sure */
    .not-sure{
        margin-top: 20px;
        padding-bottom: 10px;
        margin-bottom: 0;
    }
    
.not-sure-img img{
    height: 279px;
    top:-200px;
    right: 42px;
}
.black-btn{
    font-size: 14px;
    width: 100%;
    text-align: center;

}
.not-sure-btn{
    padding-right: 0;
}
.working{
    margin: 20px 30px;
}

.working-heading h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;

}
.working-heading p{
    font-size: 15px;
    padding: 0 10px;
}
.green-icon-card{
    text-align: center;
}

}

    

    
    
    





















    .footer-main .logo-box img{
        margin-bottom: 20px;
        
    }
    .footer-main .link-box ul{
        justify-content: center;
    
    }
    .footer-main .link-box ul li{
        border-right: 0px;

    }
    .footer-main .link-box ul li a{
        font-size: 12px;
    }

       


@media only screen and (min-width: 344px) and (max-width: 576px){
.meal-pic img{
    width: 150px !important;
    top:35px;
    left: 40px;
}
.card-meal{
    width: 160px !important;
}
/* .not-sure */
.not-sure-img img{
    height:257px ;
    top: -100px;
    left:8px ;


}
.meal-of-the-day-slider{
    padding-bottom: 0;
}
/* how-its-work */
.working-heading {
    align-items: center;
    font-size: 30px;
    margin-bottom: 10px;

}
.work-btn{
    display: none;
}













    .footer-main .link-box{
        font-size: 10px;
    }
    .footer{
        margin-top: 50px;
    }
    .footer-top{
        margin-bottom: 19px;
    }
    .footer-main{
        padding: 25px 0px 0px 0px;
    }
    
    
    
    .footer-main .link-box ul{
        justify-content: center;
    
    }
    .footer-main .link-box ul li{
        border-right: 0px;

}
.footer-main .link-box ul li a{
    font-size: 10px;
}
.footer-main .logo-box{
    text-align: center;
}
}