@media(max-width:1200px) {}

@media(max-width:992px) {
    .navbar-nav li {
        width: 49%;
        text-align: center;
        display: inline-block;
        margin-bottom: 20px;
    }

    .navbar-nav {
        margin: 0px !important;
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 20px !important;
    }


    .nav-btn {
        background-color: green;
        width: 100%;
        text-align: center;
        color: white;
        margin-top: 10px;
    }
    .nav-btn:hover{
        background-color: white;
        color:green;
    }

    .main-nav .nav-link {
        margin-top: 10px;
        padding: 12px 15px !important;

    }
    .navbar-toggler{
        border: 1px solid none;
        border: 1px dashed  rgb(255, 129, 57) !important;
    }
    .nav-btn-wrapper{
        width: 100% !important;
    }
    .mian-nav{
        border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 0px 1px 10px #dfdfdf;
        }
       
        
        





}

@media(max-width:768px) {
.main-nav{
    padding-top: 10px 3px;
}
/* meal-card */
.meal-card .content-box{
    display: block;
}









.footer-top .title{
    font-size: 26px;
}

.slide-one{
    background-image: linear-gradient( rgb(49 49 49 / 60%), rgb(59 59 59 / 60%) ), url(../images/banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    border-radius: 20px;
    margin: 15px;
}


.slide-two{
    background-image: linear-gradient( rgb(49 49 49 / 60%), rgb(59 59 59 / 60%) ), url(../images/banner-0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    border-radius: 20px;
    margin: 15px;
}
.slide-three{
    background-image: linear-gradient( rgb(49 49 49 / 60%), rgb(59 59 59 / 60%) ), url(../images/banner-3-original.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    border-radius: 20px;
    margin: 15px;
}


.banner{
    padding: 0;

}
.main-heading{
    text-align: center;
    padding: 20px 15px;
    position: relative;
    top:50px;
}

.heading-banner{
    color: var(--white);
    font-size: 30px;
    min-height: 108px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}
.para-banner{
    color:var(--white) ;
    text-align: center !important;
    font-size: 15px;
    font-weight: 500;
    min-height: 113px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

}
.slide-one .primary-btn{
    text-align: center;
}


#banner-slider .owl-dots{
    position: absolute;
    bottom: -5px;
    right: 116px;

}
#banner-slider{
    padding-bottom: 39px;
}



}
@media(max-width:576px) {
    .navbar-toggler{
        border: 2px dashed  rgb(255, 129, 57) !important;
        box-shadow: none !important;
    }



    .banner{
        padding: 0;
    }
    .main-heading{
        text-align: center;
        padding: 20px 15px;
        position: relative;
        top:50px;
    }
    
    .heading-banner{
        color: var(--white);
        font-size: 30px;
        min-height: 108px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    
    }
    .para-banner{
        color:var(--white) ;
        text-align: center !important;
        font-size: 15px;
        font-weight: 500;
        min-height: 113px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    
    }
    .slide-one .primary-btn{
        text-align: center;
    }
    banner-slider .owl-dots{
        position: absolute;
        bottom: -5px;
        right: 116px;
    
    }
    
    #banner-slider{
        padding-bottom: 39px;
    }
    #banner-slider .owl-dots{
        position: absolute;
        bottom: -5px;
        right: 116px;
    
    }
    

    
    
    





















    .footer-main .logo-box img{
        margin-bottom: 20px;
        
    }
    .footer-main .link-box ul{
        justify-content: center;
    
    }
    .footer-main .link-box ul li{
        border-right: 0px;

    }
    .footer-main .link-box ul li a{
        font-size: 12px;
    }

       

}
@media only screen and (min-width: 344px) and (max-width: 576px){
    .footer-main .link-box{
        font-size: 10px;
    }
    .footer{
        margin-top: 50px;
    }
    .footer-top{
        margin-bottom: 19px;
    }
    .footer-main{
        padding: 25px 0px 0px 0px;
    }
    
    
    
    .footer-main .link-box ul{
        justify-content: center;
    
    }
    .footer-main .link-box ul li{
        border-right: 0px;

}
.footer-main .link-box ul li a{
    font-size: 10px;
}
.footer-main .logo-box{
    text-align: center;
}
}