/* font-family: "Open Sans", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    letter-spacing: 0.1px;
}
body{
    font-family: "Open Sans", sans-serif;
    

}
:root{
    --white: #fff;
    --black: #000;
    --primary: #F7941D;
    --green: #00A651;
    --blue: #61ABFC;
    --heading-text: #152f2e;
    --purple: #B068AA;
    --primary: #B3C182;
    --primary-green: #2D7C53;
    --secondary: #65B741;
    --light-secondary: #C1F2B0;
    --palate-gray: #FBF6EE;
    --palate-gray: #fff;
    --text: #3C3C3C;
    --light-text: #485450
}
.wrapper{
    padding: 100px 0 30px 0;
}

a{
    text-decoration: none;
    transition: 0.3s all ease-in;
}
.bg-custom-light{
    background-color: #f9f9f9;

}  
.bg-custom-green{
    background-color: #7dcfa5;
}
.bg-custom-org{
    background-color: #f8c78b;
}
.heading-section h2 {
    font-size: 38px;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    color: var(--black);
    font-weight: 700 !important;
    text-align: center;
    padding: 30px 0 50px 0;
}
.main-nav .navbar-brand img{
    width: 150px;
}
.main-nav{
    padding: 0;
}

.main-nav .navbar-brand{
    position: relative;
    padding: 0 !important;
}
small{
    font-size: .875em;
}
.main-nav .navbar-brand .logo--caption{
    position: absolute;
    font-size: 8px;
    font-weight: 700;
    bottom: -12px;
    right: 0px;
    font-family: "Montserrat";
    color: #00a651;
    width: 150px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.5px;   
}
.main-nav .nav-link{
    color: var(--text);
    font-family: "Open Sans", sans-serif;
    padding: 16px 15px !important;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
}
.main-nav .nav-link.active{
    background-color: #f9f9f9;
    border-bottom: 1.5px solid    #F7941D   ;
    font-weight: 600;

}
.nav-item .nav-link{
    
    position: relative;

}
.nav-item .nav-link::after{
    content: '';
    position: absolute;
    bottom: -1.5px;
    left: 0;
    background-color: #F7941D;
    width: 0%;
    height: 1.5px;
    transition: 0.4s ease-in-out;

}
.nav-item:hover .nav-link::after{
    width: 100%;
}
.nav-item .nav-link:hover{
    background-color: #f9f9f9;

}
.nav-btn{
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding:  5px 25px 5px 25px;
    border: 1.5px solid var(--green);
    color: var(--green);
    background-color: transparent;
    border-radius: 5px;
    letter-spacing: 0.1px;
    text-transform: uppercase;

}
.nav-btn:hover{
    background-color: var(--green);
    color: var(--white);
    transition: 0.3 all ease-in;
}
/* banner-design */
.banner{

    width: 100% !important;
    /* padding: 100px 0; */
}

.heading-banner{
    color: var(--black);
    font-size: 41px;
    font-weight: 800;
    margin-bottom: 20px;
}
 .para-banner{
    font-size:16px;
    color: var(--text);
    font-weight: 500;
    margin-bottom: 30px;
 }
 .para-banner span{
    color: #00A651;
    font-weight: 600;
 }
 .primary-btn {
    background-color: var(--green);
    color: white;
    font-size: 14px;
    font-family:"Montserrat", sans-serif;
    padding: 8px 30px 10px 30px;
    border-radius: 5px;
    font-weight: 600;
    width: 100%;
    border: 1px solid var(--green);
 }
 .primary-btn:hover{
    background-color: transparent;
    color: var(--green);
    
   
 }


 .banner-img img{
    display: block;
    width: 100%;
    
}
#banner-slider .owl-dots {
    position: absolute;
    bottom:-40px ;
    right: 10px;
}




#banner-slider .owl-dots .owl-dot span {
    width: 50px;
    height: 2px;
}

#banner-slider .owl-dots .owl-dot.active span{
    background-color:  #F7941D;
    height: 3px;
    
}
#banner-slider .owl-dots .owl-dot:hover span{
    background-color:  #F7941D;
    height: 3px;

}
/* .meal-plan */
.meal-plan{
    padding: 100px 0 65px 0;
}
.meal-card{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s ease;

    
}
.meal-card .img-box{
    width: 250px;
    min-width: 200px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    
}

.meal-card .img-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.3s ease-in;
  

}
.meal-card:hover .img-box img{
    transform: scale(1.1);
}

.meal-card .content-box{
    width: 100%;
    padding: 0 12px;
}
.meal-card .content-box .heading-box h3{
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    color: var(--text);
    overflow: hidden;
    font-weight: 700;
    display: flex;
    height: 56px;
    line-height: 28px;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease;

}
.meal-card .content-box .price-box .price{
    color: #fff;
    font-size: 22px;
    line-height: 20px;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
}
.meal-card .content-box .price-box .per-day{
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-bottom: 6px;
    /* font-weight: 700; */
}



.card-btn{
    border: 1px solid #fff;
    padding: 5px 10px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color:#000;
    border-radius: 5px;
    width: 100% !important;
    display: block;

}
.card-btn:hover{
    color: #fff;
}
.meal-card.reverse{
    flex-direction: row-reverse;
}
/* meal-of-the-day-slider */
.meal-of-the-day{
    padding-left: 40px;
    padding-bottom: 50px;
    margin:0;
}
.meal-of-the-day .heading-section h2{
    padding: 100px 0 0 0;
}

.meal-of-the-day .heading-section p{
    font-size: 24;
    font-weight: 500 !important;
    padding-bottom: 16rem;

}
.meal-pic{
    background: url(../images/rec-orange.png) no-repeat  ;
    background-size: contain;
    width: 100%;
    height: 170px;
    position: relative;
    
    
}

.green-pic{
    background: url(../images/\/Rectangle\ 14.png) no-repeat  ;
    background-size: contain;
    width: 100%;
    height: 170px;
    position: relative;
       
}
 .meal-pic img{
    width: 150px !important;
    height: 100px ;
    object-fit: contain;
    position: absolute;
    top:35px;
    left: 26px; 
    transition: all 0.3s ease-in;       
 }
 .meal-pic img:hover{
    transform: scale(1.1);   

 }
 
#meal-of-the-day-slider.owl-carousel .owl-stage-outer{
    overflow-y:visible ;
    overflow-x: clip;
}
 .card-meal{
    height: auto !important;
    width: 170px;
    border-radius: 20px;
    position: absolute;
    top:-162px;
    left: 18px;
    display: none;
    padding: 12px;
    transition: 3s all ease-in;


}
.meal-pic{
    transition: 3s all ease-in;
}
 

.meal-pic:hover .card-meal{
    display: block;
    transition: all 3s ease-in;
}
.card-meal ul li{
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed #7a7a7a;

}
.card-meal ul{
    padding: 0 !important;

}

 .card-meal h3{
    color:#fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 20px;
    
    /* padding-bottom:10px ; */
   
 }
 
 .card-meal .title{
    color: var(--text);
    font-size: 15px;
    font-weight: 600;
    /* line-height: -12px; */   
 }
 
 /* not-sure */
 .not-sure .main-box{
    background-color: #F7941D;
    border-radius: 10px 202px 10px 10px;
    padding: 50px 60px 20px ;
    position: relative;
 }
 .not-sure-content h2{
    font-size: 48px;
    font-weight: 600;
    color: var(--white);
    font-family:"Montserrat", sans-serif;
    
 }
 .not-sure-content p{
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;


 }
 .not-sure-img img{
    position: absolute;
    bottom:23px;
    right: 10px;
    height: 380px;
    object-fit: contain;
    object-position: bottom center;

 }
 .not-sure-btn{
    display: flex;
    justify-content: end;
    padding-right:30px;
 }
 .black-btn{
    background-color: #000;
    border-radius: 5px !important;
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
    padding: 10px 36px 10px 30px;
    display: block;
 }
 .black-btn:hover{
    color: var(--primary-green);
 }
 /* how its working */
 .how-its-work {
    height: auto;
    
 }
 
 .working-heading{
    background-color: var(--white);
    border-radius: 20px;
    height: 100% !important;
    padding: 30px 30px 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
 }
 
 .working-heading h2{
    font-size: 40px;
    color: var(--black);
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 15px;
 }
 .working-heading p{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: var(--black);
    margin-bottom: 20px;
 }
 .work-btn{
    display: block;
    margin-bottom: 15px;
 }
 .green-icon-card{
    height: 100%;
    border-radius: 20px;
    padding: 20px 20px;
    transition: all 0.3s ease-in-out;
   
 }
 .green-icon-card .icon-card{
    transition: all 0.3s ease-in;
 }
 .green-icon-card:hover{
    transform: scale(1.1); 
 }

 .green-icon-card .icon-card img{
    transition: all 0.3s ease-in;
 }

 .green-icon-card:hover .icon-card img{
    transform: translateY(-10px);
 }

 .green-card-heading h3{
    color: var(--green);
    font-size: 20px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    min-height:45px;
    line-height: 50px;

 }
 .green-card-heading p{
    color: var(--white);
    font-size: 15px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0;
    height: 150px;
    line-height: 25px;
    /* margin-top:-30px; */
 }
 .green-card-heading.orange .icon-title1{
    color: orange;
 }
 /* 0ur-experts */
 .our-expert .main-expert{
    background: linear-gradient(
        90deg,
        rgba(201, 118, 18, 1) 0%,
        rgba(247, 148, 29, 1) 100%
    );
    border-radius: 202px 10px 10px 10px;
    margin-bottom: 20px;

 }
 .expert-img img{
    height: 419px;
    position: absolute;
    top: -120px;
    left: 20px;
 }

/*   */
 .expert-content{
    padding: 44px;

    
 }
 
 .expert-content h2 {
    color: var(--white);
    font-size: 44px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
 }
 .expert-content p{
    font-size: 16px;
 }
 .expert-btn{
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family:"Montserrat", sans-serif ;
    padding: 12px 10px;
    background-color: orange;
    display: flex;
    align-items:center ;
    justify-content: start;
    border-radius: 12px;
 }
    
 
 
    

 




 





























/* footer- */
footer{
    background-color:var(--green) ;
}
.footer-top{
    background-color: var(--green);
    color: var(--white);
}
.footer-top .title{
    font-size: 30px;
    font-style: italic;
    font-family: "Montserrat", sans-serif;
    /* font-weight: 500; */
    margin: 30px 0;
}
.footer-top .button-box{
    text-align: end;
}
.light-green-btn{
    background-color: #7dcfa5;
    color: white;
    font-size: 19px;
    font-family:"Montserrat", sans-serif;
    padding: 8px 30px 8px 30px;
    border-radius: 5px;
    font-weight: 600;
    justify-content: space-around;

}
.light-green-btn:hover{
    background-color: white;
    color: #7dcfa5;
    transition: 0.5s all ease-in;
}
.footer-main .link-box ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    letter-spacing: 0.1px;

}
.footer-main{
    border-radius: 30px 30px 0 0;
    background-color: var(--white);
    padding: 25px 0px 18px 0px;

}
.footer-main .logo-box img{
    height:26px;
    width: 150px;
    object-fit: contain;
}
.footer-main .link-box ul li{
    border-right: 1PX solid #ccc;
    margin-right: 10px;
    padding-right: 10px;
    
}
.footer-main .link-box ul li a{
    font-size: 14px;
    color: var(--text);
    font-weight: 600 !important;
}
.footer-bottom{
    background-color: #f9f9f9;
}
.footer-bottom .copy-right p{
    margin-bottom: 0;
    font-size: 13PX;
    color: var(--black);
    font-weight: 600;
}
.footer-bottom span{
    font-size: 10px;
}
.footer-bottom .we-accept{
    text-align: end !important;
}
.button-footer{
    padding: 35px 0 10px 0;

}



