/* font-family: "Open Sans", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    letter-spacing: 0.1px;
}
body{
    font-family: "Open Sans", sans-serif;
    

}
:root{
    --white: #fff;
    --black: #000;
    --primary: #F7941D;
    --green: #00A651;
    --blue: #61ABFC;
    --heading-text: #152f2e;
    --purple: #B068AA;
    --primary: #B3C182;
    --primary-green: #2D7C53;
    --secondary: #65B741;
    --light-secondary: #C1F2B0;
    --palate-gray: #FBF6EE;
    --palate-gray: #fff;
    --text: #3C3C3C;
    --light-text: #485450
}
a{
    text-decoration: none;
}
.bg-custom-light{
    background-color: #f9f9f9;

  }  
.meal-plan-wrapper{
    background-color: #7dcfa5;
}
.meal-plan-wrapper1{
    background-color: #f8c78b;
}
 
.main-nav .navbar-brand img{
    width: 150px;
}
.main-nav{
    padding: 0;
}

.main-nav .navbar-brand{
    position: relative;
    padding: 0 !important;
}
small{
    font-size: .875em;
}
.main-nav .navbar-brand .logo--caption{
    position: absolute;
    font-size: 8px;
    font-weight: 700;
    bottom: -8px;
    right: 0px;
    font-family: "Montserrat";
    color: #00a651;
    width: 150px;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.5px;   
}
.main-nav .nav-link{
    color: var(--text);
    font-family: "Open Sans", sans-serif;
    padding: 16px 15px !important;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
    

}
.main-nav .nav-link.active{
    background-color: #f9f9f9;
    border-bottom: 1.5px solid    #F7941D   ;
    font-weight: 600;

}
.nav-item .nav-link{
    
    position: relative;

}
.nav-item .nav-link::after{
    content: '';
    position: absolute;
    bottom: -1.5px;
    left: 0;
    background-color: #F7941D;
    width: 0%;
    height: 1.5px;
    transition: 0.4s ease-in-out;

}
.nav-item:hover .nav-link::after{
    width: 100%;
}
.nav-item .nav-link:hover{
    background-color: #f9f9f9;

}




.nav-btn{
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding:  5px 25px 5px 25px;
    border: 1.5px solid var(--green);
    color: var(--green);
    background-color: transparent;
    border-radius: 5px;
    letter-spacing: 0.1px;
    text-transform: uppercase;
}
.nav-btn:hover{
    background-color: var(--green);
    color: var(--white);
    transition: 0.5s all ease;
}
/* banner-design */
.banner{
    width: 100% !important;
    padding: 100px 0;
}

.heading-banner{
    color: var(--black);
    font-size: 41px;
    font-weight: 800;
    margin-bottom: 20px;
}
 .para-banner{
    font-size:16px;
    color: var(--text);
    font-weight: 500;
    margin-bottom: 30px;
 }
 .primary-btn {
    background-color: var(--green);
    color: white;
    font-size: 14px;
    font-family:"Montserrat", sans-serif;
    padding: 8px 30px 8px 30px;
    border-radius: 5px;
    font-weight: 600;

 }
 .primary-btn:hover{
    background-color: var(--white);
    color: var(--green);
 }


 .banner-img img{
    display: block;
    width: 100%;
    
}
#banner-slider .owl-dots {
    position: absolute;
    bottom:-40px ;
    right: 54px;
}




#banner-slider .owl-dots .owl-dot span {
    width: 50px;
    height: 2px;
}

#banner-slider .owl-dots .owl-dot.active span{
    background-color:  #F7941D;
    height: 3px;
    
}
#banner-slider .owl-dots .owl-dot:hover span{
    background-color:  #F7941D;
    height: 3px;

}
/* .meal-plan */
.heading-section h2{
    font-size: 38px;
    line-height: 120%;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    color: var(--black);
    font-weight: 800 !important;
    text-align: center;
    padding: 30px 0 70px 0;
}
.meal-card{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 10px;
    /* height: 100%; */
    overflow: hidden;
    transition: 0.3s all ease;
    margin-bottom: 10px;
}

.img-box img{
    width: 200px;
    height: 200px!important;
    object-fit: cover;
    object-position: center center;
}

/* .img-box{
    width: 250px;
    min-height: 200px;
    aspect-ratio: 1/1;
    overflow: hidden;
} */
.meal-card .content-box{
    width: 100%;
    padding: 0 12px;
}
.meal-card .content-box .title{
    font-family: "Montserrat", sans-serif;
    color: var(--text);
    overflow: hidden;
    font-weight: 700;
    display: flex;
    height: 32px;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease;

}
.meal-card .content-box .price-box .price{
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;


}
.meal-card .content-box .price-box .price-day{
    text-align: center;
    color: #fff;
}
.card-btn{
    border: 1px solid #fff;
    padding: 6px 41px;
    font-size: 15px;
    align-items: center;
    font-weight: bold;
    color:#000;
    border-radius: 5px;

}
.card-btn:hover{
    color: #fff;
}



























/* footer- */
footer{
    background-color:var(--green) ;
}
.footer-top{
    background-color: var(--green);
    color: var(--white);
}
.footer-top .title{
    font-size: 30px;
    font-style: italic;
    font-family: "Montserrat", sans-serif;
    /* font-weight: 500; */
    margin: 30px 0;
}
.footer-top .button-box{
    text-align: end;
}
.light-green-btn{
    background-color: #7dcfa5;
    color: white;
    font-size: 18px;
    font-family:"Montserrat", sans-serif;
    padding: 8px 30px 8px 30px;
    border-radius: 5px;
    font-weight: 600;

}
.light-green-btn:hover{
    background-color: white;
    color: #7dcfa5;
    transition: 0.5s all ease-in;
}
.footer-main .link-box ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    letter-spacing: 0.1px;

}
.footer-main{
    border-radius: 30px 30px 0 0;
    background-color: var(--white);
    padding: 25px 0px 18px 0px;

}
.footer-main .logo-box img{
    height:26px;
    width: 150px;
    object-fit: contain;
}
.footer-main .link-box ul li{
    border-right: 1PX solid #ccc;
    margin-right: 10px;
    padding-right: 10px;
}
.footer-main .link-box ul li a{
    font-size: 14px;
    color: var(--text);
    font-weight: 600 !important;
}
.footer-bottom{
    background-color: #f9f9f9;
}
.footer-bottom .copy-right p{
    margin-bottom: 0;
    font-size: 13PX;
    color: var(--black);
    font-weight: 600;
}
.footer-bottom span{
    font-size: 10px;
}
.footer-bottom .we-accept{
    text-align: end !important;
}



